.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 95%;
  height: calc(100vh - 160px);
  margin: 40px auto;
}

form {
  width: 600px;
  padding: 60px 25px;
  background-color: coral;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 50px) 80px;
  justify-items: start;
  align-items: center;
  gap: 12px;
}

label {
  justify-self: end;
}

input[type='submit'] {
  grid-column: 1 / -1;
  max-width: 50%;
  width: 200px;
  padding: 10px 20px;
  justify-self: center;
  align-self: center;
  border-radius: 3px;
  border: 0;
  background-color: #444;
  color: #ffaa8b;
  font-weight: 500;
}
